<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">


  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>BookInsertController</display-name>
    <servlet-name>BookInsertController</servlet-name>
    <servlet-class>com.controller.BookInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookInsertController</servlet-name>
    <url-pattern>/BookInsertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInsertController</display-name>
    <servlet-name>UserInsertController</servlet-name>
    <servlet-class>com.controller.UserInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInsertController</servlet-name>
    <url-pattern>/UserInsertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookListController</display-name>
    <servlet-name>BookListController</servlet-name>
    <servlet-class>com.controller.BookListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookListController</servlet-name>
    <url-pattern>/BookListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDeleteController</display-name>
    <servlet-name>BookDeleteController</servlet-name>
    <servlet-class>com.controller.BookDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDeleteController</servlet-name>
    <url-pattern>/BookDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookEditController</display-name>
    <servlet-name>BookEditController</servlet-name>
    <servlet-class>com.controller.BookEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookEditController</servlet-name>
    <url-pattern>/BookEditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookUpdateController</display-name>
    <servlet-name>BookUpdateController</servlet-name>
    <servlet-class>com.controller.BookUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookUpdateController</servlet-name>
    <url-pattern>/BookUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginController</display-name>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>com.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutAdminController</display-name>
    <servlet-name>LogoutAdminController</servlet-name>
    <servlet-class>com.controller.LogoutAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAdminController</servlet-name>
    <url-pattern>/LogoutAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginController</display-name>
    <servlet-name>UserLoginController</servlet-name>
    <servlet-class>com.controller.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginController</servlet-name>
    <url-pattern>/UserLoginController</url-pattern>
  </servlet-mapping>
</web-app>
